.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 320px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: rgb(21, 12, 32);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}

.App-txt {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Antonio';
    background: -webkit-linear-gradient(#F2913D,#F26457);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* opacity: 0; */
    transition: all .5s ease;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
